<!DOCTYPE html>
<html>
<head>
	<title>Display Data</title>
</head>
<body>
	<h1>Display Data</h1>
	<button onclick="displayData()">Display</button>

	<script>
		function displayData() {
			var new_database = "{{ database }}";
			var url = "/api/display?new_database=" + new_database;
			fetch(url)
				.then(response => response.json())
				.then(data => {
					console.log(data);
					var table = "<table>";
					table += "<tr>";
					for (var i = 0; i < Object.keys(data[0]).length; i++) {
						table += "<th>" + Object.keys(data[0])[i] + "</th>";
					}
					table += "</tr>";
					for (var i = 0; i < data.length; i++) {
						table += "<tr>";
						for (var j = 0; j < Object.keys(data[i]).length; j++) {
							table += "<td>" + data[i][Object.keys(data[i])[j]] + "</td>";
						}
						table += "</tr>";
					}
					table += "</table>";
					document.getElementById("data").innerHTML = table;
				});
		}
	</script>

	<div id="data"></div>

</body>
</html>
