{% extends 'layout.html' %}
{% block content %}
<h2>Welcome to Project Database, please follow the directions listed below:</h2>
<form action="/api/database" method="POST">
    <label for="database">Please select a database: </label>
    <select name="database">
        {% for file in os.listdir(os.getcwd()) if file.endswith('.sqlite') %}
            <option value="{{ file }}">{{ file }}</option>
        {% endfor %}
    </select>
    <div style="text-align: center;">
        <input type="submit" value="Connect">
    </div>
</form>
{% if message %}
    <div class="alert alert-success">{{ message }}</div>
{% endif %}

{% endblock %}