{% extends 'layout.html' %}
{% block content %}
<div style="text-align:center;">
  <form method="post" id="search-form">
    <select name="schedulerSystem" id="scheduler-system-select">
      {% for system in systems %}
        <option value="{{ system }}">{{ system }}</option>
      {% endfor %}
    </select>
    <button type="submit" id="search-btn" class="search-btn">Search</button>
  </form>

  <form action="{{ url_for('logout') }}" method="POST" style="display:inline-block;">
    <input type="hidden" name="database" value="{{ database }}">
    <button type="submit" class="logout-btn">Logout</button>
  </form>
  
</div>
<div id="search-results"></div>

<script>
  const searchForm = document.querySelector('#search-form');
  const schedulerSystemSelect = document.querySelector('#scheduler-system-select');
  const searchResultsDiv = document.querySelector('#search-results');

  searchForm.addEventListener('submit', (event) => {
    event.preventDefault(); // prevent the default form submission
    const schedulerSystem = schedulerSystemSelect.value;
    const url = `/api/display`;
    const data = new URLSearchParams();
    data.append('schedulerSystem', schedulerSystem);
    fetch(url, { method: 'POST', body: data })
      .then(response => response.json())
      .then(data => {
        // Build an HTML table to display the search results
        let tableHtml = '<table>';
        tableHtml += '<thead><tr><th>Model No</th><th>Serial No</th><th>Scheduler System</th></tr></thead>';
        tableHtml += '<tbody>';
        data.forEach(row => {
          tableHtml += `<tr><td>${row.modelNo}</td><td>${row.serialNo}</td><td>${row.schedulerSystem}</td></tr>`;
        });
        tableHtml += '</tbody></table>';

        // Update the search results div with the table
        searchResultsDiv.innerHTML = tableHtml;
      })
      .catch(error => {
        console.error('Error fetching search results:', error);
        searchResultsDiv.innerHTML = '<p>Error fetching search results.</p>';
      });
  });
</script>
{% endblock %}